  <h5>Estadísticas</h5>
	<div>
		<table class="statistics">
			<tr>
				<td align="left">Número de preguntas</td>
				<td align="right"><%= statistics[0].N_Preguntas %></td>
			</tr>
			<tr>
				<td align="left">Número de comentarios totales</td>
				<td align="right"><%= statistics[0].N_Comentarios %></td>
			</tr>
			<tr>
				<td align="left">Número medio de comentarios por pregunta</td>
				<td align="right"><%= statistics[0].Media %></td>
			</tr>
			<tr>
				<td align="left">Número de preguntas sin comentarios</td>
				<td align="right"><%= statistics[0].Preg_Sin %></td>
			</tr>
			<tr>
				<td align="left">Número de preguntas con comentarios</td>
				<td align="right"><%= statistics[0].Preg_Con %></td>
			</tr>
		</table>
	</div>
	<script>

	var ver = '<%= JSON.stringify(statistics) %>';
	console.log(ver);
	</script>