<%
var test=["probar"];
%>
  <h5>Estadísticas</h5>
	<div>
		<table class="statistics">
			<tr>
				<td align="left">Número de preguntas</td>
				<td align="right">
				<%for( i in statistics){%>
					<%for( j in statistics[i]){%>
						<%= j+":"+statistics[i][j]%><br>
						<%for( k in statistics[i][j]){%>
						 <%= k+":"+statistics[i][j][k]%><br>
						<%}%>
				  <%}%>
				<%}%>
				
				<br><%= statistics[0] %> - <%= test[0] %></td>
			</tr>
			<tr>
				<td align="left">Número de comentarios totales</td>
				<td align="right"><%= statistics[0].n_comentarios %></td>
			</tr>
			<tr>
				<td align="left">Número medio de comentarios por pregunta</td>
				<td align="right"><%= statistics[0].media %></td>
			</tr>
			<tr>
				<td align="left">Número de preguntas sin comentarios</td>
				<td align="right"><%= statistics[0].preg_sin %></td>
			</tr>
			<tr>
				<td align="left">Número de preguntas con comentarios</td>
				<td align="right"><%= statistics[0].preg_con %></td>
			</tr>
		</table>
	</div>
	<script>

	var ver = '<%= JSON.stringify(statistics) %>';
	console.log(ver);
	</script>